In [13]:
# 	\n ：换行符；\t ：制表符
str1 = "Ivonne Liu，\n的写code水平究竟怎么样？"
str2 = "Ivonne Liu\t瘫在沙发上\t敲代码。"
import pandas as pd
df=pd.DataFrame({'text':[str1,str2],'label':[1,0]})

In [14]:
!pip install jieba
import jieba

def cleancut(s):
    s=s.replace('\t', '')
    s=s.replace('\n', '')
    return list(jieba.cut(s))

df_list=df.copy()
df_list.text=df.text.apply(cleancut)
df_list

Requirement already satisfied: jieba in c:\users\administrator\anaconda3\lib\site-packages (0.42.1)

                                              text  label
0  [Ivonne,  , Liu, ，, 的, 写, code, 水平, 究竟, 怎么样, ？]      1
1          [Ivonne,  , Liu, 瘫, 在, 沙发, 上, 敲, 代码, 。]      0

In [15]:
df_list.to_pickle("data.pickle")
df_list_loaded=pd.read_pickle("data.pickle")
df_list_loaded

                                              text  label
0  [Ivonne,  , Liu, ，, 的, 写, code, 水平, 究竟, 怎么样, ？]      1
1          [Ivonne,  , Liu, 瘫, 在, 沙发, 上, 敲, 代码, 。]      0

In [16]:
#调取第一行列表的第一个元素
df_list_loaded.text.iloc[0][0]

'Ivonne'

In [17]:
#调取第二行列表的第六个元素
df_list_loaded.text.iloc[1][5]

'沙发'