In [1]:
# 	\n ：换行符；\t ：制表符
str1 = "Ivonne Liu，\n的写code水平究竟怎么样？"
str2 = "IvonneLiu\t瘫在沙发上\t敲代码。"

In [2]:
#用pandas构建数据框
import pandas as pd
#分别将文本和标记列表放到 text 和 label 下面，用 Pandas的默认构建方式，自动将其转化为数据框
df=pd.DataFrame({'text':[str1,str2],'label':[1,0]})

In [3]:
# CSV（逗号分隔数据文本文件）格式导出
#不将index写进CSV文件
df.to_csv('data.csv', index=None)
pd.read_csv('data.csv')

                          text  label
0  Ivonne Liu，\n的写code水平究竟怎么样？      1
1       IvonneLiu\t瘫在沙发上\t敲代码。      0

In [4]:
# TSV（制表符分隔数据文本文件）格式导出
#类似CSV方法，添加参数sep='\t' 
df.to_csv('data.tsv', index=None, sep='\t')
pd.read_csv('data.tsv', sep='\t')

                          text  label
0  Ivonne Liu，\n的写code水平究竟怎么样？      1
1       IvonneLiu\t瘫在沙发上\t敲代码。      0

In [5]:
#把之前两句话进行分词后，再尝试保存和读取
!pip install jieba
import jieba
#分别清除掉制表符和换行符
#用list函数强制转换分词结果成为列表
def cleancut(s):
    s=s.replace('\t', '')
    s=s.replace('\n', '')
    return list(jieba.cut(s))

Requirement already satisfied: jieba in c:\users\administrator\anaconda3\lib\site-packages (0.42.1)

In [6]:
#生成新的数据框df_list克隆df
df_list=df.copy()
df_list.text=df.text.apply(cleancut)
df_list

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\ADMINI~1\AppData\Local\Temp\jieba.cache
Loading model cost 1.584 seconds.
Prefix dict has been built successfully.

                                              text  label
0  [Ivonne,  , Liu, ，, 的, 写, code, 水平, 究竟, 怎么样, ？]      1
1               [IvonneLiu, 瘫, 在, 沙发, 上, 敲, 代码, 。]      0

In [7]:
#调取第一行的第一个元素
df_list.text.iloc[0][0]

'Ivonne'

In [8]:
#把处理结果数据导出，然后再导入
df_list.to_csv('data_list.csv', index=None)
#在存储的过程中，列表内部，每个元素都用单引号包裹。整体列表的外部，被双引号包裹。分割符，依然是逗号
pd.read_csv('data_list.csv')

                                                text  label
0  ['Ivonne', ' ', 'Liu', '，', '的', '写', 'code', ...      1
1  ['IvonneLiu', '瘫', '在', '沙发', '上', '敲', '代码', ...      0

In [9]:
#导出之前，列表当中的每一个元素都没有引号包裹的。但是重新读取回来的内容，每一个元素多了个单引号
df_list

                                              text  label
0  [Ivonne,  , Liu, ，, 的, 写, code, 水平, 究竟, 怎么样, ？]      1
1               [IvonneLiu, 瘫, 在, 沙发, 上, 敲, 代码, 。]      0

In [10]:
#验证结果，调取第一行的第一，二个元素
pd.read_csv('data_list.csv').text.iloc[0][0]

'['

In [11]:
pd.read_csv('data_list.csv').text.iloc[0][1]

"'"

In [12]:
#看看TSV格式能不能解决CSV格式的问题
df_list.to_csv('data_list.tsv', index=None, sep='\t')
pd.read_csv('data_list.tsv', sep='\t')

                                                text  label
0  ['Ivonne', ' ', 'Liu', '，', '的', '写', 'code', ...      1
1  ['IvonneLiu', '瘫', '在', '沙发', '上', '敲', '代码', ...      0

In [13]:
#验证第一个元素，结果与CSV相同，读回来的还是一个字符串，因此依靠csv/tsv格式把列表导出导入是不合适的
pd.read_csv('data_list.tsv', sep='\t').text.iloc[0][0]

'['